#heading_project{
    text-align: center;
    padding: 20px;
}

.projects-section {
    text-align: center;
    margin-bottom: 40px;
  }

  .projects-section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;          /* responsive wrap */
    gap: 20px;
    justify-content: center;  /* center cards */
  }

  .project-card {
    background-color:cornsilk;
    width: 300px;
    border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
  }

  .project-card:hover {
    transform: translateY(-30px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

  .project-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .project-content {
    padding: 15px;
    text-align: left;
  }

  .project-content h3 {
    margin: 0 0 10px;
    color: #007bff;
  }

  .project-content p {
    font-size: 0.95rem;
    color: #444;
    margin-bottom: 12px;
  }

  .project-btn {
    display: inline-block;
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 0.9rem;
    transition: 0.3s ease;
  }

  .project-btn:hover {
    background-color: blue;
  }

  .Project_title{
    text-align: center;
  }
  .project-content{
    text-align: justify;
    padding: 20px;
  }
  .project-btn{
    /* width: 50%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
  }