/* Contact Section */
.contact-section {
  padding: 60px 20px;
  max-width: 1100px;
  margin: auto;
}

.contact-section h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
}

.contact-subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 40px;
}

.contact-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-form, .contact-details {
  flex: 1;
  min-width: 280px;
}

/* Form Styles */
.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 16px;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

.contact-form button {
  background: #000;
  color: #fff;
  padding: 12px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background: #444;
}

/* Right Side Details */
.contact-details h3 {
  margin-bottom: 20px;
}

.contact-details p {
  font-size: 16px;
  margin-bottom: 10px;
}


/* Social Icons */
.social-icons {
  margin-top: 20px;
}

.social-icons a {
  font-size: 26px;
  margin-right: 15px;
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #555;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;

  }
  .contact-section {
    padding: 40px;
    /* border: 1px solid red; */
  }
}

@media (min-width:1024px) {
    .contact-details{
    margin-left: 30px;
}
.contact-section {
padding: 40px;
}
}