


ul{
    width: 100%;
display: flex;
flex-direction: row;
}

@media (min-width:375px) {


ul{
    
display: flex;
flex-direction: column;
text-align: center;
/* padding: 10px; */
padding-top: 10px;

}
li{
    list-style: none;
    margin-bottom: 10px;
}
}



@media (min-width:1024px) {
  
/* .collapse{
    border: 1px solid red;
} */
ul{
    /* border: 1px solid red; */
display: flex;
flex-direction: row;
height: 100%;
   /* text-align:center; */
    justify-content:end;
    align-content: end;
    align-items: end;

}
li{
    margin-right: 20px;
    font-size:larger;
    color: black;
}
#navlink{
    color: black;
}


}