#footer{
    width: 100%;
    padding: 0%;
    /* height: 100%; */
    /* background-color: black; */
    /* display: flex; */
    /* border: 1px solid red; */
    border-top: 1px solid black;
    padding: 10px;
}




@media (min-width:1024px) {
    #footer{
        display: flex;
        justify-content: end;
        align-items: top;
        align-content: end;
    }
    #box{
        /* border: 1px solid red; */
        padding: 20px;
        margin-left: 10px;
     
    }
    #box1{
        /* padding-top:20px; */
        /* border: 1px solid red; */
        /* padding: 20px; */
    }
  #break{
    display: none;
  }

}