*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}


#parent{


  width: 100%;
  height: 100vh;
  /* border: 1px solid red; */
}





.header{
  width: 100%;
  /* height: 20%; */
  padding: 10px;
  /* border: 1px solid red; */
  background-color:whitesmoke;
}

.mid{
 width: 100%;
  height: 60%; 
  /* border: 1px solid orange; */
  background-color: aliceblue;
}

.footer{
 width: 100%;
  height: 20%;
  border: 1px solid darkgreen;
}



